


@font-face {
  font-family: "Maytra";
  src: url("fonts/Maytra.otf") format("OpenType"),
  url("fonts/Maytra.ttf")  format("TrueType");
}

@font-face {
  font-family: 'Bright';
  src: url("fonts/Bright.otf")  format("OpenType");
}

@font-face {
  font-family: 'Vogue';
  src: url("fonts/Vogue.ttf")  format("TrueType");
}

@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
/**GENERAL SETTINGS **/
* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style-type:none;

}

body{
  background-color: #0c0c0c;
  color: #ffffff;

  overflow-x: scroll;
  overflow-y:hidden;
  font-family: 'Roboto', sans-serif;
  width: 100%;
  height: 100vh;

  display: flex;

  scrollbar-color: #6969dd #e0e0e0;
  scrollbar-width: thin;

}

html{  scroll-behavior: smooth;
      scroll-snap-type: x mandatory;}

.bigtext{
    position: inherit;
    transform: translateY(-100%);
    font-size: 10vw;
    font-weight: 300;
    line-height: 1;
    color: transparent;
    text-transform: uppercase;
    -webkit-text-stroke: 1px #ffffff;
    opacity: 0.3;
    white-space: nowrap;
    padding-left: 60px;

}

section{




}

.content{  width: 100vw;
           height: 100vh;
          display: grid;

        }


.block{
     scroll-snap-align: start;
     width: 100vw;
     height: 100%;
}




/**Acceuil**/
#acceuil {
    z-index: 1;
    background-image: url('images/bg.jpg');
    background-size: cover;
  }


#acceuil h1{
    position: absolute;
    left:8vw;
    top:35vh;
    margin-bottom: 20px;
    font-size: 15vw;
    font-weight: 300;
    color: #ffffff;
    font-family: 'Maytra';



}
#acceuil h2{
    position: absolute;
    left:8vw;
    top:65vh;
    margin-bottom: 20px;
    font-size: 4vw;
    font-weight:100;
    color: #ffffff;
    font-family: 'Vogue';
    text-shadow: 1px 1px 2px grey;



}

.button-30 {
  align-items: center;
  appearance: none;
  background-color: #FCFCFD;
  border-radius: 4px;
  border-width: 0;
  box-shadow: rgba(45, 35, 66, 0.4) 0 2px 4px,rgba(45, 35, 66, 0.3) 0 7px 13px -3px,#D6D6E7 0 -3px 0 inset;
  box-sizing: border-box;
  color: #36395A;
  cursor: pointer;
  display: inline-flex;
  font-family: "JetBrains Mono",monospace;
  height: 48px;
  justify-content: center;
  line-height: 1;
  list-style: none;
  overflow: hidden;
  padding-left: 16px;
  padding-right: 16px;
  position: absolute;
  right: 25px;
  top:25px;
  text-align: left;
  text-decoration: none;
  transition: box-shadow .15s,transform .15s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
  will-change: box-shadow,transform;
  font-size: 18px;
}

.button-30:focus {
  box-shadow: #D6D6E7 0 0 0 1.5px inset, rgba(45, 35, 66, 0.4) 0 2px 4px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #D6D6E7 0 -3px 0 inset;
}

.button-30:hover {
  box-shadow: rgba(45, 35, 66, 0.4) 0 4px 8px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #D6D6E7 0 -3px 0 inset;
  transform: translateY(-2px);
}

.button-30:active {
  box-shadow: #D6D6E7 0 3px 7px inset;
  transform: translateY(2px);
}

/** Menu **/

#mainHeader{
    background-color:#0c0c0c;
    height: 100vh;
    position: fixed;
    z-index: 999;
    border-right: 2px solid 		#DAA520;
    writing-mode : vertical-rl;
    width: 50px;



 }
#mainHeader ul{
  display: flex;
  justify-content: space-between;
  align-items:center;
  margin: 50px 5px;


}

#mainHeader ul li a{
  font-family: 'Roboto', sans-serif;
  color: white;
}
/** firstpart **/
.horizontal-scroll-wrapper{


   transform-origin:right top;


}
.contenume{
  position: relative;
  display: flex;

}
.reseau{
  border: 0.5px solid #9a9a95;
  margin-left:5% ;
  padding: 10px;
  border-radius: 1em;
  width: auto;
  display: flex;
  width: 25em;
  height: 5em;
  flex-wrap: wrap;
  align-items: center;
  align-content:space-between;
  justify-content:space-around;
}
.reseau img{ width: 70px
}


.basD{
position: absolute;
z-index: 99;
right: -90%;
bottom: 50px;

}

#firstpart .content img{
z-index: 99;
}

.Language{
 border: 0.5px solid #9a9a95;
 margin-left:5% ;
 padding: 10px;
 border-radius: 1em;
 width: auto;
 display: flex;
 width: 25em;
 height: 10em;
 flex-wrap: wrap;
 align-items: center;
 align-content:space-between;
 justify-content:space-around;

}

.Language img{

  height: 70px;
  margin-right:7px;
  margin-left:7px;

}




/**Timeline **/


#firstpart ol {
  position: relative;
  display: block;
  margin: 100px;
  height: 4px;
  background: #DAA520;
}
#firstpart   ol::before,
#firstpart ol::after {
  content: "";
  position: absolute;
  top: -8px;
  display: block;
  width: 0;
  height: 0;
  border-radius: 10px;
  border: 10px solid #DAA520;
}
#firstpart  ol::before {
  left: -5px;
}
#firstpart  ol::after {
  right: -10px;
  border: 10px solid transparent;
  border-right: 0;
  border-left: 20px solid #DAA520;
  border-radius: 3px;
}

/* ---- Timeline elements ---- */
#firstpart  li {
  position: relative;
  display: inline-block;
  float: left;
  width: 30%;
  height: 50px;

}
#firstpart  li .diplome {
  position: absolute;
  top: -47px;
  left: 37%;
  color: white;
}
#firstpart  li .point {
  content: "";
  top: -4px;
  left: 43%;
  display: block;
  width: 10px;
  height: 10px;
  border: 4px solid #DAA520;
  border-radius: 10px;
  background: #fff;
  position: absolute;
}
.description {
  display: none;
  background-color: #f4f4f4;
  padding: 10px;
  margin-top: 20px;
  position: relative;
  font-weight: normal;
  z-index: 1;
}
.description::before {
  content: '';
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-bottom: 5px solid #f4f4f4;
  position: absolute;
  top: -5px;
  left: 43%;
}

/* ---- Hover effects ---- */
#firstpart  li:hover {
  cursor: pointer;
  color: #DAA520;
}
li:hover .description {
  display: block;
}


/* ---- BTS SIO ---- */
.projet{
          display:flex;
          justify-content: center;
          align-items: center;

          margin-top:50px;
          flex-wrap:wrap;
        /* DEBUG:    border: solid 1px pink;*/
          margin: 50px;



}

.big-box{
   width: 400px;
   height:420px;
   background: #1D1F20;
   overflow: hidden;
   margin: 20px;


   transition: transform 400ms ease-out;
   box-shadow: rgba(0, 0, 0, 0.15) 0px 2px 8px;

   display: flex;
   align-items: center;
   align-content:center;
   flex-direction:column;



             }

.text{

color:#7c7874 ;
font-family: 'Bright';
text-align: center;
font-size:50px;
}

.big-box:hover{ transform: scale(1.04);}

.big-box p{

}

.projet img{ display: block;
                 width: 102%;
                 margin: auto;
                 object-fit: cover;
                 transition: transform 400ms ease-out;}


.projet video{ display: block;
                 width: 100%;
                 margin: auto;
                 object-fit: cover;
                 transition: transform 400ms ease-out;
}



.techno{

display: flex;
height: 100%;
width:75%;
}

.techno img{


}


/** ScrollBar **/
/* Track */
::-webkit-scrollbar {
  height: 10px;
  border-radius: 2em;
  width: 13px;


}


::-webkit-scrollbar-track {
  margin-left: : 20px;
  background: ;
}

::-webkit-scrollbar-thumb {
  background: white;
  border-radius: 20px;


}


/** STAGE **/
.content-stage{
display: flex;
background-color: #1D1F20;
position: absolute;
width: 100%;
height: 50vh;
top: 20%;
 align-items: center;
}
.sitestage{
  display: flex;
  flex-wrap: wrap;
  justify-content:space-around;

}
.stageboite img{

width: 18vw;


}
.stageboite{
   transition: transform 400ms ease-out;
   margin: 5px;

}
.stageboite:hover{
 transform: scale(1.04);}


.wordp{
  height: 100%;
  border-top-left-radius: 2em;
  border-bottom-left-radius: 2em;
}

.logomeuzinfo{
  margin-left: auto;
  margin-right: auto;
  height: 80px;
  margin-top: 20px;


}


#proxyweb{position: absolute;
          width: 350px;
          bottom: 20%;
          left:350vw;
         z-index: 999}



/**Conclusion**/



#lastpart .content img{
  width: 30vw;

  margin-top: 5%;
  margin-right:50px;
  margin-left:50px;
}


.flex{

  display: flex;
  height: 80vh;
  align-items: center;
  margin-left: 50px;
  justify-content:center;
}

.gboite{
height: 70vh;
display: flex;
flex-direction: column;
justify-content: space-around;

}

.boite{
  font-family: 'Roboto', sans-serif;
  font-size: 25px;
  background-color: #1D1F20;
  text-align: center;
  padding:25px 5px;
  max-height: 100px;
  max-width: 400px;
  vertical-align: middle;
}
